body{
    text-align: center;
    background-color: #011F3F;
}

.btn{
    height:200px ;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.gameStart{
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  font-size: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;

}

.red{
    background-color:red;
}

.yellow{
    background-color:yellow;
}

.green{
    background-color: green;
}

.purple{
    background-color: blue;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: gray
}